body {
	background-color: #f3f3f3;
}

.paper {
	background-color: #fff;
	width: 75%;
	margin: 50px auto;
	-webkit-box-shadow: 1px 2px 13px 0px rgba(219,219,219,1);
	-moz-box-shadow: 1px 2px 13px 0px rgba(219,219,219,1);
	box-shadow: 1px 2px 13px 0px rgba(219,219,219,1);
	padding-bottom: 40px;
}

a {
	margin: 15px 145px;
}

.me {
	width: 150px;
	border-radius: 50%;
}

.name {
	padding-top: 10px;
	font-family: 'Raleway', sans-serif;
}

.first-p {
	margin-top: 50px;
}

.last-p {
	margin-bottom: 60px;
}

p {
	font-family: 'Open Sans', sans-serif;
	margin-top: 0;
	margin-left: 80px;
	margin-bottom: 5px;
	padding-right: 80px;
	text-align: justify;
	font-size: 1.101em;
}

h2 {
	font-family: 'Raleway', sans-serif;
	margin-left: 80px;
}

hr {
	border-top: 1px solid #adabab;
    width: 81.5%;
    margin-bottom: 10px;
    margin-top: 0;
}

ul {
	margin-bottom: 60px;
}

li {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.101em;
	text-align: justify;
	margin: 5px;
	margin-left: 60px;
	padding-right: 80px;
}

@media screen and (max-width: 1000px) {

	h2, p, li {
		margin-left: 40px;
		text-align: left;
		padding-right: 40px;
	}

	.paper {
		width: 100%;
	}

	a {
		margin: 15px 1px;
	}
}